<div class="container">
  <div class="container-box">
    <h2 class="mb-4">Transacciones Financieras</h2>

    <h4 class="mb-3">{{ data?.companyName }}</h4>

    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Fecha</th>
          <th>Monto</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of data?.transactions">
          <td>{{ t.id }}</td>
          <td>{{ t.date }}</td>
          <td>${{ t.amount | number }}</td>
          <td>{{ t.type }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>